{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Parolni yangilash{% endblock %}

{% block content %}

<div class="container mt-5" style="min-height: 60vh;"> <!-- container with minimum height to handle content and messages -->

    <!-- Messages display -->
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="text-center text-danger mb-4"><strong>Parolni yangilash</strong></h2>

    <!-- Password change form -->
    <form method="post" action="{% url 'users:change-password' %}">
        {% csrf_token %}

        <div class="col-sm-6">
            <div class="form-group">
                <input class="form-control valid" name="old_password" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Eski parol'" placeholder="Eski parol"><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input class="form-control valid" name="new_password1" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Yangi parol'" placeholder="Yangi parol">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input class="form-control valid" name="new_password2" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Yangi parolni tasdiqlash '" placeholder="Yangi parolni tasdiqlash ">
            </div>
        </div>

        <button type="submit" class="btn btn-danger btn-block mt-4">Parolni yangilash</button>
    </form>

    <!-- Back link -->
    <div class="text-center mt-3">
        <a href="{% url 'users:account' %}" class="text-danger">Orqaga</a>
    </div>
</div>

{% endblock %}
